*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.h1 a::after{
    content: '';
    width: 100%;
    height: 5px;
    background-color: rgb(63, 63, 163);
    display: block;
    transform: scaleX(0);
    transition: 0.5s all ease-in-out;
    transform-origin: right;
}
.h1 a :hover::after{
    transform: scaleX(1);
}
.div1{
    display: flex;
    gap: 350px;
    height: 50px;
    width: 100%;
}
.h1{
display: flex;
padding-right:30px;
}

#heading2{
    color: rgb(7, 209, 240);
    
}
.h1 #heading1,#heading2{
    transform: translateX(150px);
    font-family: Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}
li{
    margin-right: 20px;
    list-style-type: none;
}
.li:hover{
color: rgb(7, 209, 240);
}
img{
    height: 25px;
    width: 25px;
    color: rgb(40, 173, 173);
}
.image1{
    display: flex;
    gap: 10px;
    padding-top: 15px;
    height: 550px;
}
#contain{
    background-color: rgba(44,176,186,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 0.2; /* Lower z-index value */
  
}

.body{
    display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    height: 675px;
    text-align: center;
    background-image:url("./images/backgroung\ image.jpeg");
     background-size:cover;
 background-position:center;
background-repeat:no-repeat;
}
.b1{
    width: 200px;
    text-align: center;
    height: 60px;
    background-color: white;
    color: rgb(7, 209,240);
    margin-top: 20px;
    font-family:monospace ;
    font-size: 23px;
    border: solid white;
    background-color: #fff; /* Initial background color */
    transition: background-color 0.5s ease-in-out 0.2s; /* Add delay to hover effect */
}
.b1:hover{
    background-color:transparent ;
    background-color: transparent; /* Hover background color */

    
}

.head{
        color:white;
        font-family: monospace;
        padding-top: 180px;
        font-size: 50px;

}

.para1{
    font-family: monospace;
   padding-top: 25px;
   font-size: 20px;
   color: rgb(185, 164, 0);
   font-weight: 300;
}
.page2{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-family: monospace;
    margin-top: 50px;
    font-size:30px;
    gap: 15px;

}
.page2h2{
    color:rgb(53, 158, 156);

}
.box1{
    width: 100%;
    height: 350px;
   border: solid rgb(53, 158, 156) 8px;
}
.beach{
    width: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
}
.beach img{
    height: 350px;
    width: 100%;
}
.box{
    width: 40%;
    display: flex;
    position: relative;
}

.div2{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    /* align-items: center; */
    gap: 40px;
}
.paragraph{
    width: 40%;
    gap: 20px;
}
.b2{
    background-color: rgb(53, 156, 158);
    color: white;
    width: 150px;
    height: 40px;
    padding:10px;
    text-align: center;
    border: solid rgb(53, 156, 158);
    justify-content: center;
    font-size: 15px;
    margin-top: 15px;
}
.head2{
    font-family: Verdana,  sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
.b2:hover{
    background-color: rgb(149, 228, 202);
    border-color:rgb(149,228,202);
    color: rgb(18, 17, 17);
    transition: background-color 0.2s ease 0.2s; /* Add delay to hover effect */
}

.p1{
    font-size: 25px;
}
.p2{
    font-size: 25px;
}
.services{
    height: 32%;
    width:100%;
    background-color: rgb(169, 183, 188);
    margin-top: 15%;
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: monospace;
    font-size: 20px;
    padding-top:80px ;
}
.heading4{
    color:rgb(35, 131, 133);
}
.imgcard1{
    height:100px;
    width: 100px;
}
.hiking{
    height:100px;
    width: 100px;
}
.imgcard3{
    height:100px;
    width: 100px;
}
.card1{
    display: flex;
}
.card2{
    display: flex;
}
.card3{
    display: flex;
}
h3{
    font-family: monospace;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
}
.pb1,.pb2,.pb3{
    padding-top:15px;
    font-size: 20px;
    padding-left: 20px;
}
.newcards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
.fheading{
    display: flex;
    gap: 20px;
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    justify-content: center;
    padding-top: 30px;
}
.fh2{
    color:rgb(35, 131, 133);
}
.imagef1{
    height:250px ;
    width: 400px;
    display: flex;
}
.fp1{
    background-color: rgb(235, 228, 228);
    width:400px ;
    height: 150px;
    text-align: center;

}
.fp2{
    background-color: rgb(235, 228, 228);
    width:400px ;
    height: 150px;
    text-align: center;

}
.fh3{
    text-align: start;
    margin-left:38px;
}
.fp3{
    background-color: rgb(235, 228, 228);
    width:400px ;
    height: 150px;
    text-align: center;
}
.fp4{
    background-color: rgb(235, 228, 228);
    width:400px ;
    height: 150px;
    text-align: center;
}
.fcard{
    margin-top: 30px;
    display: flex;
    gap: 35px;
}
.main{
    display: flex;
    margin-top: 35px;
}
.fcard1{
    margin-left: 140px;
     transition: transform 0.1s ease-in-out;  /*smooth scaling */
}
.fcard1:hover{
    transform: scale(1.05); /* increase size by 10% */
}
.fcard2{
    transition: transform 0.1s ease-in-out; /* smooth scaling */
}
.fcard2:hover{
    transform: scale(1.05); /* increase size by 10% */
}
.fcard3{
    margin-right: 140px;
}
.fcard4{
    margin-left: 140px;
    margin-top: 60px;
}
.featured{
    margin-top: 60px;
}
.fheading{
    font-size: 25px;
    font-family: monospace;
}
.fcard3{
    transition: transform 0.1s ease-in-out; /* smooth scaling */
}
.fcard3:hover{
    transform: scale(1.05); /* increase size by 10% */
}
.fcard4{
    transition: transform 0.1s ease-in-out; /* smooth scaling */
}
.fcard4:hover{
    transform: scale(1.05); /* increase size by 10% */
}
.ul li::after{
content: '';
width: 100%;
height: 5px;
background-color: rgb(63, 63, 163);
display: block;
transform: scaleX(0);
transition: 0.5s all ease-in-out;
transform-origin: right;
}
.ul li:hover::after{
    transition:0.5s all ease-in;
    transform:scaleX(1)
}
.fbutton{
    background-color: rgb(35, 131, 133);
    color: white;
     text-align: center; 
     align-items: center;
    width: 120px;
    height: 30px;
    display: flex;
    margin-top: 50px;
     margin-left: 50%; 
    border: solid rgb(35, 131, 133);
    padding-left: 2%;
    font-family:monospace;
}
.fbutton:hover{
    color: black;
    background-color: rgb(8, 247, 247);
    border: solid  rgb(8, 247, 247);
    transition: all ease-in-out;
    transition-delay: 0.5s;
    transform-origin: center;
    transition-duration:0.3s ;
}
.footer{
    width: 100%;
     height: 20vw; 
    background-color:rgb(30, 125, 133);
    margin-top: 15px;
    justify-content: center;
   align-items: center;
   margin-left: 10px;
   margin-right: 10px;
}
.footerhead{
    color:white;
    font-size: 30px;
    margin-left: 200px;
    font-family:monospace;
    margin-top: 120px;

}
.footer1{
    display: flex;
    gap: 10px;
}
.input{
    background-color: white;
    width: 400px;
    height: 30px;
    text-align: center;
    font-family: monospace;
    margin-left: 20%;
    border: solid white;
    margin-top: 130px;
    font-size: 18px;
}
.bfooter1{
    width:90px;
    height: 35px;
    color: black;
    background-color: rgb(6, 239, 239);
    margin-top: 130px;
    margin-left: 40px;
}
.bfooter1:hover{
    color: rgb(35, 209,240);
    background-color: black;
    transform-origin:center ;
    transition: all;
    transition-duration: 2.5s;
    transition-delay: 0.2s;
}

.contactform{
    display: flex;
    gap: 10px;
}
.fpara{
    color:aquamarine;
    margin-left:220px ;
    
}
.footerimg{
    margin-top: 35px;
display: flex;
}
.fimg1{
    width: 400px;
    height:200px;
    
}
.fimg2{
    width: 400px;
    height:200px; 
}
.fimg3{
    width: 400px;
    height:200px; 
}
.fimg4{
    width: 400px;
    height:200px; 
}
.footerimg2{
    display: flex;
}
.fimg5{
    width: 400px;
    height:200px; 
}
.fimg6{
    width: 400px;
    height:200px; 
}
.fimg7{
    width: 400px;
    height:200px; 
}
.fimg8{
    width: 400px;
    height:200px; 
}
